#*.log indica que se deben ignorar todos los archivos que tengan la extensión, sin importar su nombre
#El asterisco (*) es un comodín que representa cualquier conjunto de caracteres.

*.log
contraseniaSecreta.txt
